.search-tag-list{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 24px;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica, "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}